<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
  </head>
  <body>

    <nav>
      <ul>
        <li><a th:href="@{/dashboard}">Dashboard</a></li>
      </ul>
    </nav>

    <h1>Home Page</h1>

    <section>
      <ul th:each="blog : ${blogs}">
	<li th:if="${blog.author}" >
	  <a th:href="@{/blog/} + ${blog.author.username} + @{/post/} + ${blog.slugTitle}" th:text="${blog.title}"></a>
	</li>
      </ul>
    </section>
    
  </body>
</html>
