<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Register</title>
  </head>
  <body>

    <form action="#" th:action="@{/register}" method="post" th:object="${blogUserDto}">
      <label for="username">Username
	<input name="username" id="username" type="text" th:field="*{username}"/>
      </label><span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br/>
      <label for="email">Email
	<input name="email" id="email" type="email" th:field="*{email}"/>
      </label><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br/>
      <label for="password">Password
	<input name="password" id="password" type="password" th:field="*{password}"/>
      </label><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span><br/>
      <button type="submit">Sign Up</button>
    </form>
    
  </body>
</html>
